/* projects page */
.mainPage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .projects-page  {
    width: 50%;

    /* search box */
    .search-container {
      width: 100%;
      padding: 20px 0;
    }

    .search-projects {
      background-color: #eee;
      padding: 10px 20px;
      width: 100%;
      border-radius: 7px;
      border: 1px solid #ccc;
      display: flex;
      flex-direction: row;
      align-items: center;
      

      .search-icon {
        color: #999;
        font-size: 20px;
        margin-right: 10px;
      }
      input {
        background-color: transparent;
        outline: none;
        border: none;
        width: 100%;
        color: #333;
        font-size: 16px;
        &::placeholder {
          color: #999;
        }
      }
    }
  }

  /* project topics */
  .project-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;

    .project-filter {
      min-width: max-content;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 5px 10px;
      border-style: solid;
      border-width: 1px;
      border-color: #333;
      border-radius: 10px;
      //color: #333; 
      //font-family: 'Poppins'; 
      transition: 0.4s;
      font-size: 15px;
      cursor: pointer;
      label {
        cursor: pointer;
      }
      &:hover {
        transition: 0.4s;
        background-color: #333;
        color: #fff;
      }
      &.active {
        background-color: #333;
        color: #fff;
      }
    }
  }

  /* project types */
  .project-list {
    .project-hide {
      display: none;
    }
    .project-type {
      transition: 0.4s;
      margin: 20px 0;
      transition: 0.4s;
      padding: 20px 20px;
      border-radius: 10px;
      cursor: pointer;
      //box-shadow: 0px 0px 20px #ccc; 
      &:hover {
        transition: 0.4s;
        transform: scale(1.1);
        //background-color: #f9f7f7;
        box-shadow: 0px 0px 50px #ccc;
      }
      label {
        font-family: poppins;
        font-size: 16px;
        font-weight: 600;
        //color: #333; 
      }
      p {
        font-family: poppins;
        font-size: 16px;
        font-weight: 400;
        margin-top: 0.7rem;
        line-height: 1.5;
        //color: #333;
        a {
          border-style: solid;
          border-width: 0px 0px 1px;
          border-color: #222;
          transition: 0.4s;
          width: max-content;
          &:hover {
            transition: 0.4s;
            border-width: 0px 0px 2px;
            border-color: #333;
          }
          span {
            font-size: 14px;
            font-family: system-ui;
          }
        }
      }
      .pr-dv {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
      }
      .pr-dv2, .pr-dvi {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
      }
      .prg-language {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        margin-right: 6px;
      }
      .prg-language span.reactjs {
        background-color: #3572a5;
      }
      .pr-dv-divider {
        height: 10px;
        width: 1px;
        background-color: #666;
        margin: 0 10px;
      }
    }
    .hr {
      height: 0;
      color: inherit;
      border-top-width: 1px;
    }
  }

  /* Mobile */
  @media (max-width: 700px) {
    
    .projects-page {
      width: 90%;
      
      .search-container {
        width: 100%;
        padding: 20px 0;
      }
    }
    
  }

  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1120px) {
    .grid {
      grid-template-columns: repeat(2, 50%);
    }
  }
}
